#products-list{
            text-align:center;
        }
        .product{
            margin:0px;
            padding:0;
            padding-right:5px;
            padding-top:5px;
        }
        .product-name{
            color:black;
            display:inline-block;
            float:left;
        }
        .product-description{
            font-size:1em;
            text-align:justify;
            overflow-y:auto;
            height: 0;
            opacity:0;
            transition:height 0.5s, opacity ease-in 1s;
        }

        .product-price{
            color:green;
        }
        .product-image{
            height:400px;
            width: auto;
            object-fit:scale-down;
            transition:all 0.5s;
        }
        .card:hover .product-description
        {
            height:200px;
            opacity:1;
            transition:height 0.5s, opacity ease-in 1s;
            transition-delay:0.5s;            
        }
        .card:hover .product-image{
            height:200px;
            transition:all 0.5s;
            transition-delay:0.25s;
        }
        .product-title{
            width:100%;
            margin-left:0;
            font-size:1.3em;
            font-weight:bold;
        }
        .product-raiting{
            color:red;
            font-style:italic;
            float:right;
            display:inline-block;
        }
        .product-price{
            float:left;
            font-size:1em;
            margin-top:8px;
        }
        .basket-btn{
            float:right;
        }
        .product .card-title::after {
            height: 0px;
            clear: both;
            content: "";
            display: block;
        }
        .product .card-body{
            padding:10px;
            margin:0px;
        }
        #products-nav{
            margin-top:5px;
        }
        .basket-btn
        {
            color:white;
            font-weight:bold;
            background-color:lightgreen;
        }
        .basket-btn:hover{
            background-color:darkgreen;
            color:white;
        }
        .ingridient{    
            color:black;
        }
