body {
    margin: 0
}

.nav {
    height: 100px;
    background-color: white;
    /*#454647*/
}

.Logo {
    width: 100%;
    font-size: 28px;
    color: white;
    margin-top: 20%;
}

.btn-signIn:hover {
    color: #ff9400;
    background-color: black;
    border-color: #ff6a00;
}

.btn-signUp:hover {
    color: red;
    background-color: black;
    border-color: red;
}

.btn-search:hover {
    color: #ff6a00;
    background-color: lightgray;
    border-color: #ff6a00;
}

.menuInHeader:hover {
    color: black;
    background-color: #ff6a00;
    border-radius: 5px 5px 5px 5px;
}

.logo {
    width: 10%;
    float: left;
    background-color: blue;
}

.btns-info {
    width: 20%;
    float: left;
    background-color:green;
}

.input-search {
    width: 30%;
    float: left;
}

.btns-for-user {
    width: 40%;
    float: left;
}

.div-home {
    width: 30%;
    height:50%;
    float: left;
    margin-top:30px;
    background-color:red
}

.btn-home {
    height: 50%;
    width: 100px;
   margin: 0 auto;
   display: block;
}

.btn-contact-us {
    width: 100%
}

.div-contact-us {
    width: 30%;
    float: left;
}

.div-dishes {
    width: 40%;
    float: left;
}

@media only screen and (max-width: 1350px) {
    .Logo {
        font-size: 24px;
    }

    .logo {
        width: 9%;
    }
}

@media only screen and (max-width: 1300px) {
    .Logo {
        font-size: 20px;
    }

    .logo {
        width: 8.7%;
    }
}

@media only screen and (max-width: 1250px) {
    .Logo {
        font-size: 18px;
    }

    .logo {
        width: 8.7%;
    }
}

@media only screen and (max-width: 1200px) {
    .Logo {
        font-size: 18px;
    }

    .logo {
        width: 8.4%;
    }
}

@media only screen and (max-width: 1150px) {
    .Logo {
        font-size: 16px;
    }

    .logo {
        width: 8.4%;
    }
}

@media only screen and (max-width: 1100px) {
    .Logo {
        font-size: 14px;
    }

    .logo {
        width: 8.1%;
    }
}

@media only screen and (max-width: 1050px) {
    .Logo {
        font-size: 12px;
    }

    .logo {
        width: 8.1%;
    }
}

@media only screen and (max-width: 1000px) {
    .Logo {
        font-size: 12px;
    }

    .logo {
        width: 7.8%;
    }
}
