body {
    margin: 0
}


#HeaderDiv {
    width: 100%;
    height: 90px;
    background-color: transparent
}

.Logo {
    font-size: 40px;
    color: white;
}

.UpperDivInHeaderDiv {
    width: 100%;
    height: 40%;
    background-color: transparent
}

.LowerDivInHeaderDiv {
    width: 100%;
    height: 60%;
    background-color: transparent;
}

.div1 {
    width: 32%;
    height: 100%;
    background-color: transparent;
    float: left;
}
.div1Search {
    width: 40%;
    height: 100%;
    background-color: transparent;
    float: left;
}

.HeaderIcon {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10%;
    margin-top: 2px
}
#SearchButton {
    background-image: url('../Icons/search.png');
    background-position: center;
    width: 50px;
    height: 90%;
    background-repeat: no-repeat;
}

.PInDiv1 {
    font-size: 20px;
}

.Div1InDiv1 {
    width: 30%;
    height: 100%;
    background-color: transparent;
    float: left
}

.Div2InDiv1 {
    width: 70%;
    height: 100%;
    background-color: transparent;
    float: left
}
.btn-signIn:hover {
    color: #ff9400;
    background-color: black;
    border-color: #ff6a00;
}
.btn-signUp:hover {
    color: red;
    background-color: black;
    border-color: red;
}

.btn-search:hover {
    color: #ff6a00;
    background-color: lightgray;
    border-color: #ff6a00;
}
.menuInHeader:hover {
    color: black;
    background-color: #ff6a00;
    border-radius: 5px 5px 5px 5px;
}
.Basket:hover {
    color: #ff6a00;
}
#popUpWindow {
    background-color: transparent;
}