
.tab_box_page.active {
    display: block;
}

.tab_box_page {
    display: none;
}

.c_ingridients_list {
    width: 524px;
    display: inline-block;
    vertical-align: top;
}

.ci_item {
    display: inline-block;
    list-style: none;
    width: 258px;
    height: 67px;
    border: 2px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.ci_item_wrap {
    display: inline-block;
    vertical-align: top;
    padding: 13px 0 0 0;
}

.ci_item_btn_less, .ci_item_btn_more {
    margin: 2px 5px 0 0;
}

.ci_item_btn_more, .ip_item_btn_more {
    background-position: -41px -336px;
    left: 14px;
}

.wrapper {
    background-color: beige;
    margin-left: 20%;
    margin-right: 20%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-weight: bold;
}

.value {
    color: LawnGreen;
}

.pz-items {
    padding: 0 10px 0 10px;
    margin: 0;
    list-style: none;
    list-style-image: none;
    list-style-image: none;
    border: 2px solid #a07471;
    border-radius: 15px;
    background-color: darkred;
    min-width:80%;
    width:auto;
}

.pz-item {
    background-color: #3c0f0c;
    color: #ffffff;
    display: block;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #a07471;
    padding-right: 10px;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
}

    .pz-item .handle {
        width: 20%;
        height: 30px;
        opacity: 0.6;
        background-image: url('../../Content/images/tick.png');
        background-size: 20px 20px;
        background-position: center center;
        background-repeat: no-repeat;
        float: left;
    }
    .pz-item .delete {
        width: 20%;
        height: 30px;
        opacity: 0.6;
        background-image: url('../../Content/images/delete.png');
        background-size: 20px 20px;
        background-position: center center;
        background-repeat: no-repeat;
        float: left;
    }
li:hover .handle {
    opacity: 1;
}

li:hover .delete {
    opacity: 1;
}

.pz-item .title, .pz-item .separator, .pz-item .price_small, .pz-item .price_medium, .pz-item .price_big {
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    height: 30px;
    float: left;
}

.leftpanel {
    margin: 5%;
    padding: 1%;
    background-color: peru;
    color: #ffffff;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: #a07471;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    width: 40%;
}

.rightpanel {
    margin: 5%;
    padding: 1%;
    background-color: peru;
    color: #ffffff;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    border-style: solid;
    border-width: 3px;
    border-color: #a07471;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 40%;
    float: right;
}
.pz-total-price {
    font-size: 20px;
    text-align: center;
    margin: 25px 0 20px 0;
}
.bucketbutton {
    font-size: 20px;
    text-align: center;
    margin: 25px 0 20px 0;
}
.listwrapper {
    align-self: center;    
}
.titlemiddle {
    text-align: center;
    align-self: center;
}
h1, h2, h3, h4, h5, h6 {
    margin-left: 20%;
    margin-right: 20%;
}
.coast {
    width: 15%;
    display: inline-block;
    color: yellow;
    margin-left: 2%;
    text-align: center;
    vertical-align:bottom;
    align-self:center;
}
.title {
    display: inline-block;
    margin-left: 2%;
    width: 60%;
    color: white;
    word-wrap: break-word;
    text-align: center;
}