.block:active {
    position: absolute;
    top: 30%;
    -webkit-transform: scale(2,3);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
}

.styleAsideShowBlogs {
    overflow-y: scroll;
    width: 23%;
    float: right;
    height: 90vh;
    margin-top: 5%;
    margin-right: 0.5%;
    background-size: cover;
    border-radius: 3px;
    background-image: url('Images/backgroundforaside3.jpg');
}

#styleAddWinwrap {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

#styleAdditionWindow {
    width: 600px;
    height: 200px;
    margin: 5% auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 3px
}

.styleHrefCreateBlog {
    text-decoration: none;
    margin-left: 5%;
    font-size: 20px;
    color: black;
    display: initial
}

    .styleHrefCreateBlog:hover {
        text-decoration: dashed overline;
        color: beige;
        text-decoration-color: red;
        cursor: pointer
    }
